<footer style="background-color: black">
  <div class="jumbotron footer-background">
    <div class="footer-heading">
      <h2 class="title">NEWS LETTER</h2>
      <div class="description">
        Please subscribe Kangchangho.com News Letter.
      </div>
    </div>

    <form class="footer-body">
      <div class="input-group">
        <input type="text" class="input_important form-control" placeholder="email">
        <div class="input-group-btn">
          <button class="btn btn_important" type="submit">
            SUBSCRIBE
          </button>
        </div>
      </div>
    </form>

    <div class="footer-footer">
      <hr class="color-weaken">
      <p class="copyright">
        Copyright(c) 2018 MONTHLY KANGCHANGHO
        <br> Created and Maintained by Ino Kang [Changho Kang].
      </p>
    </div>
  </div>
</footer>

<a class="back-to-top"></a>
