<div id="language_change_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <i class="modal-dismiss fa fa-times"></i>
        <span id="language-change-message" class="subscription-message">
        </span>
      </div>
    </div>
  </div>
</div>





