<div id="license_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h4>LICENSE POLICY</h4>
        <hr>
        <p>KANGCHAGHO.COM is a Open Source Project and is licensed under <a href="https://github.com/inodient/summer-mvc/blob/master/LICENSE">MIT</a>.
        <br>As Nodejs adopted as foundation of this system,
        <br>NPM Middlewares are used under their on license policies.
        <br>Following is a list of middleware usage.</p>
        <div class="small-section-end"></div>
        <h4>MIDDLEWARES</h4>
        <hr>
      </div>
    </div>
  </div>
</div>
