<div id="password_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body form-group">
      	<h4 style="margin-bottom: 15px">Comment Delete</h4>
      	<hr>
      	<p>This action would delete followed sub-comments</p>
      	<br>
      	<label for="pw">Please enter password:</label>
      	<input class="form-control" type="password" id="pw" name="password" placeholder="password" />
      	<div style="text-align: right">
	      	<button class="btn_important" id="cancel">CANCEL</button>
	      	<button class="btn_important" id="confirm">CONFIRM</button>
	    </div>
      </div>
    </div>
  </div>
</div>
