<article>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="content-body section-end">
        <center><a id="preview_category" class="content-anchor category"></a></center>
        <center>
          <h2 id="preview_title_ko" class="after-line-block-center"></h2></center>

        <center class="paragraph-end"><span id="preview_date" class="date">2017-12-22</span></center>
        <center class="small-section-end"><img id="preview_main_image" class="write-image-vertical" src="/rikyoung3.png" /></center>

        <div id="preview_content" class="content-text">

        </div>
      </div>

      <div id="preview_comment" class="content-embrassed section-end">

      </div>

      <div id="preview_hashed_list" class="content-hashed section-end">
      </div>

      <hr class="small-section-end">

      <div class="content-footer">
        <center class="paragraph-end"><a id="preview_writer" class="content-anchor writer after-line-block-center"></a></center>
        <center id="preview_writer_description"></center>
      </div>

      <hr class="small-section-end">

      <center class="small-section-end"><img id="preview_carousel_image" class="write-image-horizontal" src="/rikyoung3.png" /></center>

      <hr class="small-section-end">
    </div>
  </div>
</article>
