<article class="inner-announce">
  <figure>
    <img id="preview_carousel_image" src="/33.png" />
    <figcaption>
      <div>
        <a id="preview_announce_category_ko" class="content-anchor category">Monthly Prj.</a>
        <h3 id="preview_announce_title_ko">「FINGERPRINT – Vol. 001: PEN」 & 『커버링</h3>
      </div>
      </figcation>
  </figure>

  <hr class="small-section-end">

  <figure>
    <img id="preview_carousel_image" src="/33.png" />
    <figcaption>
      <div>
        <a id="preview_announce_category_en" class="content-anchor category">Monthly Prj.</a>
        <h3 id="preview_announce_title_en" >「FINGERPRINT – Vol. 001: PEN」 & 『커버링</h3>
      </div>
      </figcation>
  </figure>
</article>
