<div id="header_search_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <i class="modal-dismiss fa fa-times"></i>
        <input type="search" id="modal_searchword" placeholder="Enter Searchword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Searchword'" class="paragraph-end" required />
        <br>
        <span>Please write your search word and Press Enter.</span>
      </div>
    </div>
  </div>
</div>
