<div id="subscribe_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <span class="subscribe-message"></span>
      </div>
    </div>
  </div>
</div>
