<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:italic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:bold" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:bolditalic" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/kangchangho-com.css">


  <title>Welcome summer-mvc</title>
</head>
<body class="error-doc">
  <div class="error-header jumbotron text-center">
    <h1>姜昌昊.com</h1>
  </div>

  <div class="error-body container-fluid text-center">
    <h2>Error Occured</h2>
    <p>Please contact <a style="text-decoration:underline" class="content-anchor" href="mailto:inodient@gmail.com">system administrator.</a>
    </p>
  </div>


  <footer class="container-fluid site-footer-container">
    <div class="footer-footer">
      <hr class="page-divider">
      <p class="copyright">
        Copyright(c) 2018 KANGCHANGHO.COM
        <br> Created and Maintained by
        <br class="mobile-show">Ino Kang [Changho Kang].
      </p>
    </div>
  </fotter>

</body>
</html>
