<html><head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="icon" href="data:;base64,iVBORwOKGO=">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:italic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:bold" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:bolditalic" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/kangchangho-com.css">

<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.6.0/src/loadingoverlay.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.6.0/extras/loadingoverlay_progress/loadingoverlay_progress.min.js"></script>

<script src="/kangchangho-com.js"></script>
<script src="/design.js"></script>


  <script src="/pager.js"></script>

  <title>강창호닷컴</title>
</head>



<body data-lang="ko" class="modal-open iosBugFixCaret">
  <nav class="front-nav navbar">
  <div class="container-fluid">
    <button id="language-changer" class="btn_important">ko</button>
    <ul class="nav navbar-nav sns-nav">
      <li><a class="sns-share-icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      <li><a class="sns-share-icon"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a class="sns-share-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a class="sns-share-icon"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
      <li><a class="sns-share-icon"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>

    <hr class="page-divider">
    <div class="doc">

      <header>
        <div class="site-title">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="content-anchor"><span class="site-title-name site-title-span">姜昌昊</span><span class="site-title-com site-title-span">&nbsp;.COM</span></a>

          <div class="header-search">
            <i class="fa fa-search"></i>
          </div>

          <div id="header_search_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <i class="modal-dismiss fa fa-times"></i>
        <input type="search" id="modal_searchword" placeholder="Enter Searchword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Searchword'" class="paragraph-end" required="">
        <br>
        <span>Please write your search word and Press Enter.</span>
      </div>
    </div>
  </div>
</div>

        </div>

        <nav class="site-nav navbar">
          <div class="container-fluid">

            <hr class="page-divider mobile-show">

            <ul class="nav navbar-nav">
              
                
                  
                    <li class="navbar-item"><a class="site-nav-menu" id="1" name="About" data-href="goToAbout()">About</a></li>
                  
                
              
                
                  
                  
                    <li class="navbar-item">
                  
                      <a class="site-nav-menu" id="2" name="Posts" data-href="goToCategory()">Posts<i class="dropdown-arrow fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        
                        
                          
                            <li class="navbar-item-inner">
                          
                              <a class="site-nav-menu-inner" id="51" name="News" data-href="goToCategory()">News</a></li>
                          
                          
                        
                          
                            <li class="navbar-item-inner">
                          
                              <a class="site-nav-menu-inner" id="52" name="Essay" data-href="goToCategory()">Essay</a></li>
                          
                      </ul>
                  </li>
                
              
                
                  
                  
                    <li class="navbar-item">
                  
                      <a class="site-nav-menu" id="3" name="Projects" data-href="goToCategory()">프로젝트<i class="dropdown-arrow fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        
                        
                          
                            <li class="navbar-item-inner">
                          
                              <a class="site-nav-menu-inner" id="47" name="kangchangho.com" data-href="goToCategory()">강창호닷컴</a></li>
                          
                          
                        
                          
                            <li class="navbar-item-inner">
                          
                              <a class="site-nav-menu-inner" id="48" name="summer-mvc" data-href="goToCategory()">summer-mvc</a></li>
                          
                          
                        
                          
                            <li class="navbar-item-inner">
                          
                              <a class="site-nav-menu-inner" id="55" name="kangchangho.com - mobile" data-href="goToCategory()">강창호닷컴 - 모바일</a></li>
                          
                      </ul>
                  </li>
                
              
                
                  
                  
                    <li class="navbar-item">
                  
                      <a class="site-nav-menu" id="4" name="Workplace" data-href="goToCategory()">작업실<i class="dropdown-arrow fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        
                        
                          
                            <li class="navbar-item-inner">
                          
                              <a class="site-nav-menu-inner" id="49" name="Python Study" data-href="goToCategory()">파이썬 스터디</a></li>
                          
                          
                        
                          
                            <li class="navbar-item-inner">
                          
                              <a class="site-nav-menu-inner" id="53" name="Block Chain Study" data-href="goToCategory()">블록체인 스터디</a></li>
                          
                          
                        
                          
                            <li class="navbar-item-inner">
                          
                              <a class="site-nav-menu-inner" id="54" name="Unix / Linux Study" data-href="goToCategory()">유닉스 / 리눅스 스터디</a></li>
                          
                          
                        
                          
                            <li class="navbar-item-inner">
                          
                              <a class="site-nav-menu-inner" id="57" name="Network / Web Study" data-href="goToCategory()">네트워크 / 웹 스터디</a></li>
                          
                      </ul>
                  </li>
                
              
                
                  
                  
                    <li class="navbar-item">
                  
                      <a class="site-nav-menu" id="5" name="Tech" data-href="goToCategory()">Tech<i class="dropdown-arrow fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        
                        
                          
                            <li class="navbar-item-inner">
                          
                              <a class="site-nav-menu-inner" id="50" name="Technical Report" data-href="goToCategory()">Technical Report</a></li>
                          
                          
                        
                          
                            <li class="navbar-item-inner">
                          
                              <a class="site-nav-menu-inner" id="56" name="Techincal Terms" data-href="goToCategory()">Techincal Terms</a></li>
                          
                          
                        
                      </ul>
                  </li>
                
              
            </ul>

            <div class="paragraph-end mobile-show"></div>
            <hr class="page-divider mobile-show">

          </div>
        </nav>
      </header>


      <div class="page-content">
        <div class="container-fluid content-container">

          

            <div class="carousel-container">
              <div id="announce" class="announce-carousel carousel slide" data-ride="carousel">

                <div class="carousel-inner">

                  

                    <div class="item  active ">
                      <figure class="announce-figure">
                        <img src="/y2nwtKnbHC7iFxDCY1lO9SVnb3LClJFP3gDowh3S47VBIDXSNI4YFlLwZeAVSmZA_default_announce.png">

                        <figcaption data-announce-id="27" data-announce-type="1" style="height: 150px;">
                          <div data-announce-id="27">
                            <a href="/category/2" class="content-anchor category" data-category-id="">Posts</a>
                            <h3 data-announce-id="27">프로젝트 잔여작업</h3>
                          </div>

                          <!-- ARROW -->
                          <a class="left carousel-control" href="#announce" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">PREVIOUS</span>
                          </a>

                          <a class="right carousel-control" href="#announce" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">NEXT</span>
                          </a>

                          
                      </figcaption></figure>
                    </div>

                  

                </div>
              </div>

              <div class="announce-carousel-indicators">
                <ol class="carousel-indicators">
                  
                    
                      <li data-target="#announce" data-slide-to="0" class="active"></li>
                    
                  
                </ol>
              </div>
            </div>

          

          <div class="col-lg-9 col-md-9 article-list-container" data-total-list-count="17" data-total-page-count="3" data-current-page="1" style="">

            

            

              
                
                
                
                  <div id="paging-1" class="articles-paging-block active">
                
              

                

                  <article class="content-summary post-visible">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/lKmoedhxAYRFNGq9Fk6785Xz5q9BUCfDvpJuS1DPcL0DDYLMJvfw3FrwUbWWVI3w_default.jpeg">
                          <figcaption style="height: 385px;">
                            <div data-href="/content/96">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/96" class="content-anchor title">#0010 - Modal dismiss shortcut</a></h3>
                        <span class="date">2018-03-02</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> 1. 현상&nbsp;subscribe_modal / language_change_modal 에 dismiss shortcut이 없어, 사용자 혼란이 발생모바일 사파리에서 종료한 상태의 언어와 다시 시작했을 때의 언어가 다르면 language_change_modal이 ...</p>
                        <button class="btn_important" onclick="location.href='/content/96'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/XTkiBopSpsFZmTolE8fTSQZXRhWWAOx45eBDjB9AtJsxraIBbhwY26L0o2UtiOPb_default.jpeg">
                          <figcaption style="height: 385px;">
                            <div data-href="/content/95">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/95" class="content-anchor title">#0009 - Menu Activation</a></h3>
                        <span class="date">2018-03-02</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> 1. 현상Menu를 직접 클릭했을 때에는 클릭이 메뉴가 활성화되지만, contents를 클릭했을 때에는 해당 메뉴가 활성화되지 않음.2. 원인 분석service_static.js에서 메뉴 추출 로직이 수행 (service_menu.js &gt; ...</p>
                        <button class="btn_important" onclick="location.href='/content/95'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/sJtzdOdQFapkmGiKvrLGt9xTXlvJm6vC2kA6vOG7GGXUiaKALlHrbAX4Ua5elN0f_default.jpeg">
                          <figcaption style="height: 385px;">
                            <div data-href="/content/94">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/94" class="content-anchor title">#0008 - Add Modify Date</a></h3>
                        <span class="date">2018-03-02</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> 1. 현상content에 변화가 있을 때( 열기, modify 실행 등), create_date 가 업데이트되어 정렬순서가 뒤바뀌는 현상 발생2. 원인 분석content는 create_date 컬럼만 있고, on update trigger가 설정되어 ...</p>
                        <button class="btn_important" onclick="location.href='/content/94'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/MbG1gplSqgqWymu8XyBe2ZAmPpfeRQSlXfmZ6ydMYbgR5OcmZehAYVRpkB45xK9P_default.jpeg">
                          <figcaption style="height: 385px;">
                            <div data-href="/content/84">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/84" class="content-anchor title">Facebook Engineer Skill Set</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> FACEBOOK ENGINEER SKILL SET MAPPING1. 언어 (Languages)ItemMenuPython작업실 &gt; 파이썬 스터디RubyN/ACN/AC++N/AC#N/AJavaN/APHPN/A2. 시스템 환경 ...</p>
                        <button class="btn_important" onclick="location.href='/content/84'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/qPCGo4aVDeGjIgtSHOzIJ1X4UDdUBYDffsUBoFWsagakwj8Xul5AiD6gTkl0btoV_IMG_1143.JPG">
                          <figcaption style="height: 386px;">
                            <div data-href="/content/93">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/93" class="content-anchor title">#0007 - tablet page design</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> 1. 가능한 모든 기기 / 모든 해상도에서 반응형 웹을 구현2. static한 기기의 크기 (iPhone / iPad / iPad Pro / ... ) 와 \bootstrap의 반응 크기를 구분해서 디자 해야함.3. iPad는 768 * 1024의 해상도를 ...</p>
                        <button class="btn_important" onclick="location.href='/content/93'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/WxN9oBqEvrAeC1Q1uYjAtjSQk7BJVdxBLcg2hFHEHBAmIA5ctdwHXc3fNOu5dQQq_default.jpeg">
                          <figcaption style="height: 385px;">
                            <div data-href="/content/92">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/92" class="content-anchor title">#0006 - 콘텐츠 css 디자인</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> 1. 현상summernote를 통해 저장된 컨텐츠의 디자인이 완료되지 않아, 일반 메일과 같은 형태로 화면에 출력됨2. 원인 분석 / 조치kangchangho.com 의 css구조에 따라 content-body 하위의 특정 html tag에 관한 css를 ...</p>
                        <button class="btn_important" onclick="location.href='/content/92'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/bBQ72bUKkkfG27mSqr3EQNLjwWW7BpdpYM8ZW2ez1TIdGrFfnwohWyZyF4t8ybml_IMG_1142.JPG">
                          <figcaption style="height: 386px;">
                            <div data-href="/content/91">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/91" class="content-anchor title">#0005 - Empty Image Content saving</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> 1. 현상content write / modify 할때 이미지를 main / carousel 이미지를 지정하지 않으면, ID를 찾을 수 없다는 버그 발생2. 원인 분석content 저장과는 별개로 write.ejs에서 업로드되는 모든 이미지는 ajax로 ...</p>
                        <button class="btn_important" onclick="location.href='/content/91'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/5YcuIZJ8K7iesqxLOrzgqumE72Xaon17ok7ZCpDIEQrH1eZ4as8VH5se8TQaPs8F_default.jpeg">
                          <figcaption style="height: 385px;">
                            <div data-href="/content/90">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/90" class="content-anchor title">#0004 - image max-width bug</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> 1. 현상content-body 안의 이미지들이 화면 Layout을 어기고 100%를 초과하는 현상 발생2. 원인 분석content-body 안의 이미지들은 summernote에서 저정했던 html tag로 저장되고, summernote는 모든 이미지의 실제 ...</p>
                        <button class="btn_important" onclick="location.href='/content/90'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              
                </div>
              


            

              
                
                
                
                  <div id="paging-2" class="articles-paging-block">
                
              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/5AWfo01ADKJoisqhOkOoOeZAHzKKIwp59RLBdRByKulsYk1ALjtTnqPqnEU976HH_default.jpeg">
                          <figcaption style="height: 2px;">
                            <div data-href="/content/89">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/89" class="content-anchor title">#0002 - Empty Hash Bug</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> 1. 현상&nbsp;공란으로 해쉬를 입력할 경우, 빈 해쉬태그가 생서됨.2. 원인 분석write.js 에서 hash value를 추출할 때, ","을 기준으로 split function을 호출split 후 공란이더라도 [0] Index value로 추출됨.3. ...</p>
                        <button class="btn_important" onclick="location.href='/content/89'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/pKAmpqeAdNApSGlAB84iITS1pETIBfaAqFw4qmd9PSIIVzvzQnr1GNh9a5V4B2Up_default.jpeg">
                          <figcaption style="height: 2px;">
                            <div data-href="/content/88">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/88" class="content-anchor title">#0001 - kangchangho.com Related Post Bug</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> 1. 현상content page에서 related posts 들이 정렬되지 않는 현상related post가 중복되어 출력2. 원인분석&nbsp;row 하위에 col-xx-4 를 추가하여 related post를 구성하는데 row를 추가하지 않고 6개의 col을 ...</p>
                        <button class="btn_important" onclick="location.href='/content/88'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/ZUUwKcBe3in9asnhugwkBu1s3E9oc8g3wBsd7XRxKEC7AZ1yn62ACbQk1ke4pirh_default.jpeg">
                          <figcaption style="height: 2px;">
                            <div data-href="/content/87">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/87" class="content-anchor title">Phase #01 잔여 작업 정리</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> Phase #01의 잔여 작업은 kangchangho.com의 베타테스트 버전 완성에 초점을 둡니다.따라서 kangchangho.com 테스트 버전에서 발생한 버그들과 사용성 개선이 주된 작업 내용입니다.또한, Infrastructure 환경 구성을 완료해서 ...</p>
                        <button class="btn_important" onclick="location.href='/content/87'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/2RCj38MXMxohhSmQqL2lbcAOLcDAI8eiY00ZzSjHLo4Fq58FtpNWfgDHxcyJbVzI_walnut.JPG">
                          <figcaption style="height: 2px;">
                            <div data-href="/content/86">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/50" class="content-anchor category before-line">Technical Report</a>
                        <h3 class="title"><a href="/content/86" class="content-anchor title">Walnut Architecture</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary">     </p>
                        <button class="btn_important" onclick="location.href='/content/86'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/SjpB1Lv7jt8XnQOGSATIQHZjMGETaB7YBaH3Lt0X35R26XJkawQgROtvHBT61Iw4_s-mvc.JPG">
                          <figcaption style="height: 2px;">
                            <div data-href="/content/85">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/48" class="content-anchor category before-line">summer-mvc</a>
                        <h3 class="title"><a href="/content/85" class="content-anchor title">summer-mvc 잔여작업</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> 2/26 계획 수립1. kangchangho.com 과 병행 처리 해야하는 부분Production / Development Mode에 따라 tools-properties를 다르게 적용할 수 있도록 수정HTTP / HTTPS Module을 지원할 수 있도록 ...</p>
                        <button class="btn_important" onclick="location.href='/content/85'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/q2eSInPopiKH8EAmbE0EcS9ItmqRoj2pS8qNEHsB0pOg1hTpVJlSNYpyrDrFtWMr_kch_infra.JPG">
                          <figcaption style="height: 2px;">
                            <div data-href="/content/81">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/47" class="content-anchor category before-line">강창호닷컴</a>
                        <h3 class="title"><a href="/content/81" class="content-anchor title">강창호닷컴 잔여작업</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> Infrastructurekangchangho.com 베타테스트를 위해서 Infrastructure / Application Architecture를 도식화 했습니다.도식화된 각각의 Architecture를 통해 버그와 개선필요 항목들을 재설계 하려고 ...</p>
                        <button class="btn_important" onclick="location.href='/content/81'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/2axuNBSYVFXN6qeBhZc2nSYIC07wLKv5rJFJ6K6tbqwKbQmBzMgCQ1s4UUayowfO_BC9B100A-7B48-4AEA-A5E8-38F56F240408.jpeg">
                          <figcaption style="height: 2px;">
                            <div data-href="/content/83">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/48" class="content-anchor category before-line">summer-mvc</a>
                        <h3 class="title"><a href="/content/83" class="content-anchor title">summer-mvc 프로젝트 디자인</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> [summer-mvc 프로젝트 디자인]1. 진행 방법 변경&nbsp; &nbsp;a. 최초 빅데이터 기반 clustering 적용 예정&nbsp; &nbsp;b. Express 기반의 pm2, slc 등 기존 미들웨어에서 clustering 기능 제공 중&nbsp; &nbsp;c. 미들웨어 선정 후 ...</p>
                        <button class="btn_important" onclick="location.href='/content/83'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              


            

              

                

                  <article class="content-summary post-hidden">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <figure>
                          <img src="/Md3duBAeKQNEAQZ5wTgKU3rQxyV2ooZ24JlBTC8j7452VQwnffhAVjyxt8fdgnQk_0930C344-1D06-4579-A36C-1AF69881D3C7.jpeg">
                          <figcaption style="height: 2px;">
                            <div data-href="/content/82">View Post</div>
                            
                        </figcaption></figure>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <a href="/category/49" class="content-anchor category before-line">파이썬 스터디</a>
                        <h3 class="title"><a href="/content/82" class="content-anchor title">스터디 모임 - #01</a></h3>
                        <span class="date">2018-03-01</span><span class="writer-text">&nbsp;&nbsp;&nbsp;BY&nbsp;&nbsp;</span><a class="content-anchor writer" href="/writer/11 ">강창호</a>
                        <p class="summary"> [1차 모임]1. 진행 방안 논의&nbsp; a. Python 기본 문법 스터디 : 2/28까지 셀프 스터디&nbsp; b. 실습 kit (라즈베리) 선정&nbsp; c. 예상 Architecture Design&nbsp; d. 가능하다면 공모전 참여2. R&amp;R 선정&nbsp; a. 정창용&nbsp; &nbsp; &nbsp; - ...</p>
                        <button class="btn_important" onclick="location.href='/content/82'">VIEW POST</button>
                      </div>
                    </div>
                  </article>
                

              
                </div>
              


            

            <div class="list-pager"><div class="nav-pagination section-end"><span class="ellapsed-paginator">1</span><a onclick="goPage(2); return false;" data-page="2" class="content-anchor number-paginator">2</a><a onclick="goPage(3); return false;" data-page="3" class="content-anchor number-paginator">3</a></div></div>
          </div>

          <hr class="page-divider mobile-show">

          <div class="col-lg-3 col-md-3 banner-container" style="">

            <article class="banner-shortcut">
              <div id="search_input" class="input-group">
                <input id="searchword" type="input" class="form-control input_important" placeholder="keyword">
                <div class="input-group-btn">
                  <button id="btn_search" class="btn_important">SEARCH</button>
                </div>
              </div>

              <hr class="page-divider mobile-hidden">

              <button class="btn_important_banner" onclick="javascript:location.href='https://www.youtube.com/channel/UCmpfNkTMaMR2lw25JFrwC6g?view_as=subscriber'">
                YOUTUBE
                <br>
                <span class="btn_important_banner_describe">kangchangho.com channel</span>
              </button>

              <button class="btn_important_banner" onclick="javascript:location.href='http://www.summermvc.com'">
                summer-mvc
                <br>
                <span class="btn_important_banner_describe">Open Source Project</span>
              </button>

            </article>

            <hr class="page-divider mobile-hidden tablet-hidden">

            <article class="banner-hashranking">
              <h4 class="title after-line-block-center">HASH RANKING</h4>
              <div class="banner-table table table-responsive small-section-end">
                <table class="hash-ranking table table-hover table-condensed">

                  
                    <tbody><tr>
                      <td class="ranking mobile-hidden" data-id="418">1</td>
                      <td class="hashed" data-id="418"><span class="mobile-show-inline">1.</span>&nbsp;&nbsp;&nbsp;kangchangho.com</td>
                      <!-- <td class="changed">-</td> -->
                    </tr>
                  
                    <tr>
                      <td class="ranking mobile-hidden" data-id="413">2</td>
                      <td class="hashed" data-id="413"><span class="mobile-show-inline">2.</span>&nbsp;&nbsp;&nbsp;</td>
                      <!-- <td class="changed">-</td> -->
                    </tr>
                  
                    <tr>
                      <td class="ranking mobile-hidden" data-id="422">3</td>
                      <td class="hashed" data-id="422"><span class="mobile-show-inline">3.</span>&nbsp;&nbsp;&nbsp;강창호닷컴</td>
                      <!-- <td class="changed">-</td> -->
                    </tr>
                  
                    <tr>
                      <td class="ranking mobile-hidden" data-id="459">4</td>
                      <td class="hashed" data-id="459"><span class="mobile-show-inline">4.</span>&nbsp;&nbsp;&nbsp;beta-test</td>
                      <!-- <td class="changed">-</td> -->
                    </tr>
                  
                    <tr>
                      <td class="ranking mobile-hidden" data-id="460">4</td>
                      <td class="hashed" data-id="460"><span class="mobile-show-inline">4.</span>&nbsp;&nbsp;&nbsp;phase #01</td>
                      <!-- <td class="changed">-</td> -->
                    </tr>
                  
                    <tr>
                      <td class="ranking mobile-hidden" data-id="446">5</td>
                      <td class="hashed" data-id="446"><span class="mobile-show-inline">5.</span>&nbsp;&nbsp;&nbsp;walnut</td>
                      <!-- <td class="changed">-</td> -->
                    </tr>
                  
                    <tr>
                      <td class="ranking mobile-hidden" data-id="420">5</td>
                      <td class="hashed" data-id="420"><span class="mobile-show-inline">5.</span>&nbsp;&nbsp;&nbsp;페이스북</td>
                      <!-- <td class="changed">-</td> -->
                    </tr>
                  
                    <tr>
                      <td class="ranking mobile-hidden" data-id="419">6</td>
                      <td class="hashed" data-id="419"><span class="mobile-show-inline">6.</span>&nbsp;&nbsp;&nbsp;kangchangho.com menu</td>
                      <!-- <td class="changed">-</td> -->
                    </tr>
                  
                    <tr>
                      <td class="ranking mobile-hidden" data-id="423">6</td>
                      <td class="hashed" data-id="423"><span class="mobile-show-inline">6.</span>&nbsp;&nbsp;&nbsp;강창호닷컴 메뉴</td>
                      <!-- <td class="changed">-</td> -->
                    </tr>
                  
                    <tr>
                      <td class="ranking mobile-hidden" data-id="421">6</td>
                      <td class="hashed" data-id="421"><span class="mobile-show-inline">6.</span>&nbsp;&nbsp;&nbsp;페이스북 엔지니어</td>
                      <!-- <td class="changed">-</td> -->
                    </tr>
                  
                </tbody></table>
              </div>
            </article>

            <hr class="mobile-hidden small-section-end">

            <article class="banner-mostrecent">
              <h4 class="title after-line-block-center">MOST RECENT</h4>
              <div class="banner-list">
                <ul>

                  
                    <li>
                      <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 left">
                          <figure>
                            <img src="/lKmoedhxAYRFNGq9Fk6785Xz5q9BUCfDvpJuS1DPcL0DDYLMJvfw3FrwUbWWVI3w_default.jpeg">
                            <figcaption data-href="/content/96" style="height: 132px;">
                              <div></div>
                              
                          </figcaption></figure>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 right">
                          <h4 class="content-title"><a href="/content/96" class="content-anchor">#0010 - Modal dismiss shortcut</a></h4>
                          <span class="date">2018-03-02</span>
                        </div>
                      </div>
                    </li>
                  
                    <li>
                      <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 left">
                          <figure>
                            <img src="/XTkiBopSpsFZmTolE8fTSQZXRhWWAOx45eBDjB9AtJsxraIBbhwY26L0o2UtiOPb_default.jpeg">
                            <figcaption data-href="/content/95" style="height: 132px;">
                              <div></div>
                              
                          </figcaption></figure>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 right">
                          <h4 class="content-title"><a href="/content/95" class="content-anchor">#0009 - Menu Activation</a></h4>
                          <span class="date">2018-03-02</span>
                        </div>
                      </div>
                    </li>
                  
                    <li>
                      <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 left">
                          <figure>
                            <img src="/sJtzdOdQFapkmGiKvrLGt9xTXlvJm6vC2kA6vOG7GGXUiaKALlHrbAX4Ua5elN0f_default.jpeg">
                            <figcaption data-href="/content/94" style="height: 132px;">
                              <div></div>
                              
                          </figcaption></figure>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 right">
                          <h4 class="content-title"><a href="/content/94" class="content-anchor">#0008 - Add Modify Date</a></h4>
                          <span class="date">2018-03-02</span>
                        </div>
                      </div>
                    </li>
                  
                </ul>
              </div>
            </article>

            <hr class="mobile-hidden small-section-end">

            <article class="banner-newsletter tablet-hidden">
              <h4 class="title after-line-block-center">NEWS LETTER</h4>
              
            <select id="newsletter_select" class="select_important">
                <option value="-" data-href="">NEWS LETTER</option>
                
                
              </select></article>

            <hr class="mobile-hidden small-section-end">

            <article class="banner-mostviewed">
              <h4 class="title after-line-block-center">MOST VIEWED</h4>
              <div class="banner-list">
                <ul>

                  

                    <li>
                      <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 left">
                          <figure>
                            <img src="/q2eSInPopiKH8EAmbE0EcS9ItmqRoj2pS8qNEHsB0pOg1hTpVJlSNYpyrDrFtWMr_kch_infra.JPG">
                            <figcaption data-href="/content/81" style="height: 132px;">
                              <div></div>
                              
                          </figcaption></figure>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 right">
                          <h4 class="content-title"><a href="/content/81" class="content-anchor">강창호닷컴 잔여작업</a></h4>
                          <span class="date">2018-03-01</span>
                        </div>
                      </div>
                    </li>

                  

                    <li>
                      <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 left">
                          <figure>
                            <img src="/ZUUwKcBe3in9asnhugwkBu1s3E9oc8g3wBsd7XRxKEC7AZ1yn62ACbQk1ke4pirh_default.jpeg">
                            <figcaption data-href="/content/87" style="height: 132px;">
                              <div></div>
                              
                          </figcaption></figure>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 right">
                          <h4 class="content-title"><a href="/content/87" class="content-anchor">Phase #01 잔여 작업 정리</a></h4>
                          <span class="date">2018-03-01</span>
                        </div>
                      </div>
                    </li>

                  

                    <li>
                      <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 left">
                          <figure>
                            <img src="/SjpB1Lv7jt8XnQOGSATIQHZjMGETaB7YBaH3Lt0X35R26XJkawQgROtvHBT61Iw4_s-mvc.JPG">
                            <figcaption data-href="/content/85" style="height: 132px;">
                              <div></div>
                              
                          </figcaption></figure>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 right">
                          <h4 class="content-title"><a href="/content/85" class="content-anchor">summer-mvc 잔여작업</a></h4>
                          <span class="date">2018-03-01</span>
                        </div>
                      </div>
                    </li>

                  

                    <li>
                      <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 left">
                          <figure>
                            <img src="/Md3duBAeKQNEAQZ5wTgKU3rQxyV2ooZ24JlBTC8j7452VQwnffhAVjyxt8fdgnQk_0930C344-1D06-4579-A36C-1AF69881D3C7.jpeg">
                            <figcaption data-href="/content/82" style="height: 132px;">
                              <div></div>
                              
                          </figcaption></figure>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 right">
                          <h4 class="content-title"><a href="/content/82" class="content-anchor">스터디 모임 - #01</a></h4>
                          <span class="date">2018-03-01</span>
                        </div>
                      </div>
                    </li>

                  

                    <li>
                      <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 left">
                          <figure>
                            <img src="/pKAmpqeAdNApSGlAB84iITS1pETIBfaAqFw4qmd9PSIIVzvzQnr1GNh9a5V4B2Up_default.jpeg">
                            <figcaption data-href="/content/88" style="height: 132px;">
                              <div></div>
                              
                          </figcaption></figure>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 right">
                          <h4 class="content-title"><a href="/content/88" class="content-anchor">#0001 - kangchangho.com Related Post Bug</a></h4>
                          <span class="date">2018-03-01</span>
                        </div>
                      </div>
                    </li>

                  

                </ul>
              </div>

            </article>

            <hr class="mobile-hidden small-section-end">

          </div>
        </div>
      </div>
    </div>

    <div id="language_change_modal" class="modal fade in" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <i class="modal-dismiss fa fa-times"></i>
        <span id="language-change-message" class="subscription-message"><b>Notification</b>
          <hr>
          Default language setted as English.</span>
      </div>
    </div>
  </div>
</div>







    <footer style="background-color: black">
      <div class="jumbotron footer-background">
        <div class="footer-heading">
          <h2 class="title">뉴스레터</h2>
          <div class="description">
            강창호닷컴 뉴스레터를 구독하세요.
          </div>
        </div>

        <form id="newsletter" class="footer-body">
          <div class="input-group">
            <input id="email_addr" type="email" class="input_important form-control" placeholder="email">
            <div class="input-group-btn">
              <button class="btn_important" type="submit">
                구독
              </button>
            </div>
          </div>
        </form>

        <div id="subscribe_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <i class="modal-dismiss fa fa-times"></i>
        <span class="subscribe-message"></span>
      </div>
    </div>
  </div>
</div>


        <div class="footer-footer">
          <hr class="color-weaken">
          <p class="copyright">
            Copyright(c) 2018 KANGCHANGHO.COM
            <br> Created and Maintained by
            <br class="mobile-show">Ino Kang [Changho Kang].
          </p>
        </div>
      </div>
    </footer>

    <a class="back-to-top"></a>




<div class="modal-backdrop fade in"></div></body></html>