<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<meta charset="utf-8">
	
	<title>Kang Chang Ho dot Com</title>
</head>
<body>
	<div style="height:25px; border-bottom: 1px solid #ededed;"></div>
	<div style="max-width: 1200px; margin: auto; padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #ededed; text-align:center; font-family: Noto Sans KR">
		<span style="font-size:50px;">KANG CHANG HO . COM</span>
	</div>
	<header class="navbar" style="text-align: center; max-width:1200px; margin: auto; border-bottom: 1px solid #ededed;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" style="margin-left: 10px" class="pull-left navbar-toggle" data-toggle="collapse" data-target="#top_menu">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
			</div>
			<div class="collapse navbar-collapse" id="top_menu">
				<ul class="nav navbar-nav" style="float:none;">
					<li style="float:none; display:inline-block;"><a style="color: black;">About</a></li>
					<li style="float:none; display:inline-block;"><a style="color: black;">Essay</a></li>
					<li style="float:none; display:inline-block;"><a style="color: black;">Monthly Prj.</a></li>
					<li style="float:none; display:inline-block;"><a style="color: black;">Workspace</a></li>
					<li style="float:none; display:inline-block;"><a style="color: black;">Developer</a></li>
				</ul>
			</div>
			
			<style>
				
				.navbar-nav>li>a:hover {
					background-color: black !important;
					color: #ffffff !important;
				}
			</style>
			
		</div>
	</header>
	
	<div style="height: 150vh;">

	</div>
	
	
	<footer style="background-color: black">
		<div class="jumbotron" style="background-color: black; color: #ededed; text-align:center">
			<h2 style="padding-bottom: 20px;">
				SUBSCRIBE NEWS LETTER
			</h2>
			<form style="max-width:400px; margin:auto; padding-bottom:50px;">
			  <div class="input-group">
			    <input type="text" class="form-control" placeholder="email" style="border-radius: 0px;">
			    <div class="input-group-btn">
			      <button class="btn btn-default" type="submit"  style="border-radius: 0px;">
			      	SUBSCRIBE
			      </button>
			    </div>
			  </div>
			</form>
			
			<div style="max-width: 1200px; margin: auto; color: #a0a0a0">
				<p style="font-size: 17px;" >
					Copyright(c) 2018 MONTHLY KANGCHANGHO<br>
					Created and Maintained by Ino Kang [Changho Kang].
				</p>
			</div>
		</div>
	</footer>	
	
</body>
</html>