/************************************************************************************/
/* Default Element -  Start */
html {
  font-family: 'Roboto', sans-serif;
}

head {
  font-family: 'Roboto', sans-serif;
  font-size: 14.5px;
  margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14.5px;
  margin: auto;
}

body.iosBugFixCaret.modal-open {
  position: fixed;
  width: 100%;
}

div {
}

article {
  margin-bottom: 60px;
}

p {
}

table {
}

table tr:hover td:hover {
  cursor: pointer;
}

table td:hover {
  cursor: pointer;
}

*:focus {
  outline: none;
}

/* =========================================================== */
/* 01. input - Start */
.input_embrassed {
  background: #ffffff;
  border: 1px solid #333;
  border-radius: 0px;
  color: #333333;
}

.input_important {
    display: inline-block;
    margin: 18px 0 18px;
    height: 39px;

    font-size: 12.5px;
    border-radius: 1px;
}
/* 01. input - End */
/* =========================================================== */

/* =========================================================== */
/* 02. button - Start */
.btn_important {
    display: inline-block;
    margin: 18px 0 18px;
    padding: 10px 20px;

    background: #333;
    border: 1px solid #333;
    color: #ffffff;

    font-size: 12.5px;
    border-radius: 1px;
}

.btn_important:hover {
    background: #000000;
    border: 1px solid #525252;
    color: #ffffff;
}

.btn_important#language-changer {
  margin-top: 12px;
  margin-bottom: 8px;
  margin-left: +10px;
  float: right;
  padding: 5px;
  text-transform: uppercase;
}

.btn_important#language-changer:focus {
  outline: 0;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .btn_important#language-changer {
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: right;
    padding: 5px;
    text-transform: uppercase;
  }
}

/* 02. button - End */
/* =========================================================== */

/* =========================================================== */
/* 03. button Inverse - Start */
.btn_important_inverse {
    display: inline-block;
    margin: 18px 0 18px;
    padding: 10px 20px;

    background: #ffffff;
    border: 1px solid #333;
    color: #333333;

    font-size: 12.5px;
    font-weight: 800;
    border-radius: 1px;
    text-transform: uppercase;
}

.btn_important_inverse:hover {
    background: #ffffff;
    padding: -1px;
    border: 2px solid #525252;
    color: #333333;
}
/* 03. button Inverse - End */
/* =========================================================== */

/* =========================================================== */
/* 04. button Banner - Start */
.btn_important_banner {
  display: inline-block;
  margin: 18px 0 18px;

  background: #333;
  border: 1px solid #333;
  color: #ffffff;

  font-size: 16.5px;
  border-radius: 1px;

  width: 100%;
  height: 100px;
  max-height: 100px;

  border-radius: 0px;
}

.btn_important_banner:hover {
  background: black;
  border: 1px solid #525252;
  color: #ffffff;
}

.btn_important_banner_describe {
  font-size: 12.5px;
  font-weight: normal;
}
/* 04. button Banner - End */
/* =========================================================== */

/* =========================================================== */
/* 05. button Banner Inverse - Start */
.btn_important_banner_inverse {
  display: inline-block;
  margin: 18px 0 18px;

  background: #ffffff;
  border: 1px solid #333;
  color: #000000;

  font-size: 14.5px;
  border-radius: 1px;

  width: 100%;
  height: 100px;
  max-height: 100px;
  font-weight: bold;
}

.btn_important_banner_inverse:hover {
  background: #ffffff;
  border: 2px solid #525252;
  color: #333333;
}

.btn_important_banner_inverse_describe {
  font-size: 12.5px;
  font-weight: bold;
}
/* 05. button Banner Inverse - End */
/* =========================================================== */

input-group {
}

/* =========================================================== */
/* 06. Select - Start */
.select_important {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;

  display: inline-block;
  margin: 18px 0 18px;
  padding: 10px 20px;
  width: 100%;
  height: 40px;

  background: #333;
  border: 1px solid #333;
  color: #ffffff;

  font-size: 12px;
  border-radius: 0;

  background: black no-repeat right 1rem center url(/arrow_background.png);
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .select_important {
    margin: 5px;
  }
}
/* 06. Select - End */
/* =========================================================== */

/* =========================================================== */
/* 07. Select Inverse - Start */
.select_important_inverse {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;

  display: inline-block;
  margin: 0 0 0;
  padding: 10px 20px;
  width: 100%;
  height: 40px;

  background: #ffffff;
  border: 1px solid #333;
  color: #333333;

  font-size: 12px;
  border-radius: 0;

  background: #ffffff no-repeat right 1rem center url(/arrow_background_inverse.png);
}
/* 07. Select Inverse - End */
/* =========================================================== */

/* =========================================================== */
/* 08. Figure - Start */
figure *, figure *::before, figure *::after{
  -moz-box-sizing: border-box;
       box-sizing: border-box;

  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

figure{
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

figcaption{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-size: 14.5px;
  font-weight: 100;
  width: 101%;
  display: table;
}

figcaption div{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  opacity: 0;
  color: #ffffff;
  text-transform: uppercase;
}

figcaption div:after{
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: 40%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 1px;
  background: #ffffff;
}

figure img{
  max-width: 100%;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

figure:hover figcaption{
  cursor: pointer;
  background: rgba(128,128,128,0.5);
}

figcaption:hover div{
  opacity: 1;
  top: 0;
}

figcaption:hover div:after{
  width: 55%;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  figcaption div h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

figure:hover img{
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
/* 08. Figure - End */
/* =========================================================== */

ul {
}

li {
}

ol {
}

/* =========================================================== */
/* 09. Content Anchor - Start */
.content-anchor {
  color: #111111;
  text-decoration: none;
}

.content-anchor:hover {
  color: #888888;
  text-decoration: none;
  cursor: pointer;
}

.content-anchor:focus {
  color: #888888;
  text-decoration: none;
  cursor: pointer;
}

.content-anchor-reverse {
  color: #111111;
  padding: 3.5px;
}

.content-anchor-reverse:hover {
  text-decoration: none;
  background: black;
  color: #ffffff;
  cursor: pointer;
}

.content-anchor-reverse:focus {
  text-decoration: none;
  background: black;
  color: #ffffff;
  cursor: pointer;
}

/* 09. Content Anchor - End */
/* =========================================================== */

h1 {

}

h2 {
  margin-bottom: 50px;
  font-weight: 800;
}

h3 {
  margin-bottom: 50px;
  font-weight: 800;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 800;
}

h5 {
  margin-bottom: 50px;
  font-weight: 800;
}

h6 {

}

nav {
}

.modal-content {
  border-radius: 0px;
}


/* Default Element - End */
/************************************************************************************/




/************************************************************************************/
/* Predeficned Classes - Start */
.before-line::before {
  box-sizing: inherit;
  vertical-align: middle;
  display: inline-block;
  content: '';
  width: 2.5rem;
  margin-right: .5rem;
  height: 1px;
  background: #777777;
}

.after-line-block-center::after {
  content: '';
  display: block;
  width: 5rem;
  height: 2px;
  background: black;
  margin: 1rem auto 0;
  margin-top: 30px;
}

.after-line-block::after {
  content: '';
  display: block;
  width: 5rem;
  height: 2px;
  background: black;
  margin-top: 30px;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .after-line-block-center::after {
    margin-top: 15px;
  }

  .after-line-block::after {
    margin-top: 15px;
  }
}

.page-divider {
  margin: 1px 0 20px 0;
}

.page-divider-half {
  margin: 1px 0 20px 0;
  width: 50%;
}

.paragraph-end {
  margin-bottom: 30px;
}

.small-section-end {
  margin-bottom: 60px;
}

.section-end {
  margin-bottom: 120px;
}

.doc-end {
  margin-bottom: 240px;
}

.color-weaken {
  opacity: 0.3;
  /* border-color: #555555; */
}

.align-right {
  text-align: right
}

.post-hidden {
  opacity: 0;
  transform: translateY(3rem);
  transition: all .5s ease;
  visibility: hidden;
}

.post-visible {
  opacity: 1;
  transform: translateY(0);
  transition: all .5s ease;
  visibility: visible;
}

.mobile-show {
  display: none;
}

.mobile-show-inline {
  display: none;
}

.mobile-hidden {
  display: block;
}

.mobile-hidden-inline {
  display: inline;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .mobile-show {
    display: block;
  }

  .mobile-hidden {
    display: none;
  }

  .mobile-show-inline {
    display: inline;
  }

  .mobile-hidden-inline {
    display: none;
  }
}
/* Predeficned Classes - End */
/************************************************************************************/





/************************************************************************************/
/* Customized Classes - Start */

/* =========================================================== */
/* nav - front-nav - Start */
.front-nav.navbar {
  height: 35px;
  max-width: 1100px;
  margin: auto;
}

.front-nav .nav.sns-nav {
  float: right;
}

.front-nav .nav.sns-nav .sns-share-icon {
  color: #999999 !important;
}

.front-nav .nav.sns-nav .sns-share-icon:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
  cursor: pointer;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .front-nav.navbar {
    min-height: 40px;
  }

  .front-nav .nav.sns-nav {
    display: inline-block;
    float: left;
    padding-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .front-nav .nav.sns-nav li {
    display: inline-block;
  }

  .front-nav .nav.sns-nav .sns-share-icon {
    padding: 5px 8px;
  }
}

/* nav - sns-share - End */
/* =========================================================== */

/* =========================================================== */
/* header - site-title - Start */
.site-title {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.site-title .content-anchor {
  margin-left: 70px;
}

.site-title .content-anchor:hover {
  color: #000000;
}

.site-title-name {
  font-size: 50px;
  font-weight: bold;
}

.site-title-com {
  font-size: 35px;
}

.site-title-span:hover {
  cursor: pointer;
}

.site-title .header-search {
  float: right;
  font-weight: normal;
  font-size: 25px;
  color: #333333;
  padding: 20px;
  z-index: -100;
}

.site-title .header-search:hover {
  cursor: pointer;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .site-title {
    margin: 35px 25px 35px 25px;
  }

  .site-title .content-anchor {
    margin-left: 0px;
  }

  .site-title-name {
    font-size: 40px;
    font-weight: bold;
  }

  .site-title-com {
    font-size: 30px;
  }

  .site-title .navbar-toggle {
    padding-top: +15px;
    float: left;
  }

  .site-title .icon-bar {
    background-color: #333333;
  }

  .site-title .header-search {
    float: right;
    font-weight: normal;
    font-size: 18px;
    padding: 10px 0px 10px 10px;
    color: #333333;
  }

  .site-title .header-search .fa {
    vertical-align: bottom;
    padding: 10px;
  }
}
/* header - site-title - End */
/* =========================================================== */

/* =========================================================== */
/* header - site-nav - Start */
.site-nav {
  margin: auto;
  border-top: 1px solid #e6e6e6b3;
  border-bottom: 1px solid #e6e6e6b3;
  margin-bottom: 30px;
  font-size: 12.5px;
}

.site-nav .navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.site-nav .navbar-nav .navbar-item {
  display: inline-block;
  float:none;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .site-nav {
    border: 0px;
    text-align: left;
  }

  .site-nav .navbar-nav .navbar-item {
    text-align: left;
  }

  .site-nav .navbar-nav .navbar-item {
    display: block;
    float:none;
  }
}

.site-nav .navbar-nav .navbar-item .site-nav-menu {
  color: black;
}

.site-nav .navbar-nav .navbar-item .site-nav-menu:hover,
.site-nav .navbar-nav .navbar-item.active .site-nav-menu {
  /* background-color: #ffffff;
  color: #000000;
  font-style: italic;
  padding-bottom: 13.5px;
  border-bottom: 1.5px solid #000000;
  cursor: pointer; */
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.site-nav .navbar-nav .navbar-item.open .site-nav-menu {
  /* background-color: #ffffff;
  color: #000000;
  font-style: italic;
  padding-bottom: 13.5px;
  border-bottom: 1.5px solid #000000;
  cursor: pointer; */
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.site-nav .navbar-nav .navbar-item .dropdown-arrow {
  padding-left: 10px;
}

.site-nav .navbar-nav .navbar-item.open .dropdown-menu {
  display: block;
  box-shadow: none;
  font-size: 12.5px;
  border: 1px solid #e6e6e6b3;
  border-radius: 0px;
}

.site-nav .navbar-nav .navbar-item.open .dropdown-menu .navbar-item-inner .site-nav-menu-inner{
  border-bottom: 1px solid #e6e6e6b3;
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px 10px 7px 10px;
}

.site-nav .navbar-nav .navbar-item.open .dropdown-menu .navbar-item-inner:last-child .site-nav-menu-inner{
  border-bottom: 0px solid #e6e6e6b3;
}

.site-nav .navbar-nav .navbar-item.open .dropdown-menu .navbar-item-inner .site-nav-menu-inner:hover{
  background-color: #333333;
  color: #ffffff;
  font-style: italic;
  cursor: pointer;
  padding-left: 25px;
  -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
}

.site-nav .navbar-nav .navbar-item.open .dropdown-menu .navbar-item-inner.active .site-nav-menu-inner{
  background-color: #333333;
  color: #ffffff;
  font-style: italic;
  cursor: pointer;
  padding-left: 25px;
  -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .site-nav {
    display: none;
  }

  .site-nav .navbar-nav .navbar-item .dropdown-arrow {
    float: right;
    font-size: 16px;
  }

  .site-nav .navbar-nav .navbar-item .site-nav-menu:hover,
  .site-nav .navbar-nav .navbar-item.active .site-nav-menu {
    background-color: #ffffff;
    color: #000000;
  }

  .site-nav .navbar-nav .navbar-item.open .site-nav-menu {
    background-color: #ffffff;
    color: #999999;
  }

  .site-nav .navbar-nav .navbar-item.open .dropdown-menu {
    border: 0px;
  }

  .site-nav .navbar-nav .navbar-item.open .dropdown-menu .navbar-item-inner .site-nav-menu-inner{
    padding: 5px 10px 5px 20px;
  }

  .site-nav .navbar-nav .navbar-item.open .dropdown-menu .navbar-item-inner .site-nav-menu-inner{
    border-bottom: 0px solid #e6e6e6b3;
  }

  .site-nav .navbar-nav .navbar-item.open .dropdown-menu .navbar-item-inner:last-child .site-nav-menu-inner{
    border-bottom: 0px solid #e6e6e6b3;
  }

  .site-nav .navbar-nav .navbar-item.open .dropdown-menu .navbar-item-inner .site-nav-menu-inner:hover{
    background-color: #ffffff;
    color: #999999;
    cursor: pointer;
    font-style: normal;
    padding-left: 20px;
    -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear;
  }

  .site-nav .navbar-nav .navbar-item.open .dropdown-menu .navbar-item-inner.active .site-nav-menu-inner{
    background-color: #ffffff;
    color: #999999;
    cursor: pointer;
    font-style: normal;
    padding-left: 20px;
    -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear;
  }
}

/* header - site-nav - End */
/* =========================================================== */




/* =========================================================== */
/* header - header-search - Start */
#header_search_modal .modal-dialog {
  height: 100%;
  margin: 0;
  padding: 0;
}

#header_search_modal .modal-content {
  height: 100%;
  text-align: center;
}

#header_search_modal .modal-body {
  height: 100%;
  margin: auto;
}

#header_search_modal .modal-dismiss {
  font-size: 5rem;
  position: fixed;
  top: 5rem;
  right: 8rem;
  display: inline-block;
  transition: all .2s ease;
}

#header_search_modal .modal-dismiss:hover {
  cursor: pointer;
}

#header_search_modal .modal-body #modal_searchword {
  text-align: center;
  font-weight: 700;
  width: 99%;
  font-size: 6.25rem;
  letter-spacing: -.1rem;
  margin-top: 40vh;
  margin-bottom: 15px;
  border: 0;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  #header_search_modal .modal-dismiss {
    font-size: 2rem;
    position: fixed;
    top: 2rem;
    right: 4rem;
    display: inline-block;
    transition: all .2s ease;
  }

  #header_search_modal .modal-body #modal_searchword {
    text-align: center;
    font-weight: 700;
    font-size: 3.25rem;
    letter-spacing: -.1rem;
    margin-top: 40vh;
    margin-bottom: 15px;
    border: 0;
  }
}

#header_search_modal .modal-body p {
  color: #555555;
}

#header_search_modal .modal-body #modal_searchword::-webkit-input-placeholder {
  color: #000000;
  text-align: center;
}

#header_search_modal .modal-body #modal_searchword:-moz-placeholder { /* Firefox 18- */
  color: #000000;
  text-align: center;
}

#header_search_modal .modal-body #modal_searchword::-moz-placeholder {  /* Firefox 19+ */
  color: #000000;
  text-align: center;
}

#header_search_modal .modal-body #modal_searchword:-ms-input-placeholder {
  color: #000000;
  text-align: center;
}
/* header - header-search - End */
/* =========================================================== */




/* =========================================================== */
/* body - hierarchy - Start */
.doc {
  max-width: 1100px;
  margin: auto;
}

.page-content {
  max-width: 1100px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

.content-container {
  margin-left: 0px;
  margin-right: 0px;

  padding-left: 0px;
  padding-right: 0px;
}

.carousel-container {
  margin-bottom: 50px;
}

.article-list-container {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 30px;
  min-height: 100vh;
}

.list-summary {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 30px;
  text-align: center;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .list-summary {
    padding-right: 0px;
  }
}

.article-container {
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 30px;
}

.write-container {
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 30px;
}

.banner-container {
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 30px;
}

@media (max-width: 1100px) {
  .content-container, .article-list-container, .banner-container {
    margin: 15px;
  }
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .article-list-container {
    margin: 0px;
    padding: 0px;
  }

  .article-container {
    margin: 0px;
    padding: 0px;
  }

  .banner-container {
    margin: 25px;
    padding-left: 0px;
  }
}
/* body - hierarchy - Start */
/* =========================================================== */


/* =========================================================== */
/* body - announce-carousel - Start */
.announce-carousel {
  max-width: 1100px;
  max-height: 400px;
  overflow: hidden;
}

@media screen and (min-width : 768px) and (max-width : 1023) {
  .announce-carousel {
    height: 268px;
  }
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .announce-carousel {
    height: 148px;
  }
}

.announce-carousel figcaption{
  /* height: 400px; */
  background: rgba(64,64,64,0.20);
}

.announce-carousel figcaption div{
  opacity: 1;
}

.announce-carousel figcaption div .category{
  color: #ffffff;
}

.announce-carousel figcaption div .category::before{
  background: #ffffff;
}

.announce-carousel figure img{
  max-width: 100%;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.announce-carousel figure:hover figcaption{
  cursor: pointer;
  background: rgba(64,64,64,0.45);
}

.announce-carousel figure:hover figcaption a{
  cursor: pointer;
  opacity: 1;
}

.announce-carousel .carousel-control{
  max-width: 80px;
  opacity: 0;
  background-image: none;
}

.announce-carousel-indicators {
  padding: 15px;
}

.announce-carousel-indicators .carousel-indicators {
  position: relative;
  bottom: 0px;
}

.announce-carousel-indicators .carousel-indicators li {
  background-color: lightgray;
}

.announce-carousel-indicators .carousel-indicators li.active {
  background-color: black;
}
/* body - announce-carousel - End */
/* =========================================================== */

/* =========================================================== */
/* body - article-list-container, article-container - Start */
.articles-paging-block.active {
  display: block;
}

.articles-paging-block {
  display: none;
}

.content-summary {

}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .content-summary figure {
    margin-bottom: 35px;
  }
}

.content-body {
}

.content-embrassed {
  padding: 35px;
  background-color: #eceeef;
  color: #000000;
  line-height: 1.65em;
}

.content-hashed {
  text-align: center;
}

.content-footer {
}
/* body - article-list-container, article-container - End */


/* body - article-list-container > list-summary - Start */
.list-summary h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
}

.list-summary p {
  font-size: 16px;
  text-align: center;
  display: inline-block;
}

.list-summary .content-hashed {
  margin-top: 30px;
}
/* body - article-list-container > list-summary - End */


/* body - article-list-container > content-summary - Start */
.content-summary .category {
  font-size: 12px;
  font-weight: 400;
}

.content-summary .title {
  margin-bottom: 20px;
}

.content-summary .date, .content-summary .writer-text {
  font-size: 12px;
  color: #777777;
}

.content-summary .writer {
  font-size: 12px;
  text-transform: uppercase;
  color: #111111;
}

.content-summary .writer:hover {
  color: #777777;
}

.content-summary .summary {
  line-height: 1.6em;
  margin-top: 20px;
  color: #777777;
}

.content-summary .p {
  color: red !important;
  text-decoration: none;
}

/* body - inner-announce - Start */
.inner-announce {
  overflow: hidden;
}

.inner-announce figcaption{
  background: rgba(64,64,64,0.20);
}

.inner-announce figcaption div{
  opacity: 1;
}

.inner-announce figcaption div .category{
  color: #ffffff;
}

.inner-announce figcaption div .category::before{
  background: #ffffff;
}
/* body - inner-announce - End */

/* body - nav-pagination - Start */
.list-pager {
  text-align: center;
}

.nav-pagination {
  display: inline-block;
  font-weight: 800;
  font-size: 1.2em;
  border: 3px solid black;
  padding: 1rem 2rem;
}

.number-paginator {
  padding-left: 1.5rem;
}

.ellapsed-paginator {
  padding-left: 1.5rem;
  color: #999999;
}

.previous-paginator:before {
  content: '\f104';
  font-family: 'FontAwesome';
  margin-right: 1rem;
}

.next-paginator {
  padding-left: 1.5rem;
}

.next-paginator:after {
  content: '\f105';
  font-family: 'FontAwesome';
  margin-left: 1rem;
}
/* body - nav-pagination - End */


/* body - article-list-container > content-summary - End */
/* =========================================================== */

/* =========================================================== */
/* body - article-container > content-body,
          content-embrassed,
          content-hashed,
          content-footer - Start */

.content-body .category {
  font-size: 12px;
  font-weight: 400;
}

.content-body .date {
  font-size: 12px;
  color: #777777;
}

.content-body .content-text {
  line-height: 1.65em;
  margin-top: 20px;
  color: #777777;
}

.content-body .content-image {
  max-width: 100%;

  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.content-hashed .hashed-list {
  text-align: center;
  list-style: none;
  padding: 0;
}

.content-hashed .hashed-list .hashed-list-item {
  display: inline;
  padding-right: 15px;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .content-hashed .hashed-list .hashed-list-item {
    display: inline-block;
  }

  .content-anchor-reverse {
    white-space: nowrap;
  }
}

.content-footer .writer {
  font-size: 16.5px;
  font-weight: 800;
}

.related-post .thumb-article {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .related-post h4 {
    padding-left: 15px;
  }
}

/* body - article-container > content-body,
          content-embrassed,
          content-hashed,
          content-footer - End */
/* =========================================================== */

/* =========================================================== */
/* body - write-container - Start */
.write-container .write-sub-container{
  margin-bottom: 30px;
}

.write-container .title {
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* body - write-container - Start */
/* =========================================================== */


/* =========================================================== */
/* body - banner-container - Start */
.banner-container .category {
  font-size: 12px;
  font-weight: 400;
}

.banner-container .title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .banner-container .title {
    margin-bottom: 15px;
  }
}

.banner-container .date {
  font-size: 12px;
  color: #777777;
}

.banner-table .hash-ranking {
  font-size: 12.5px;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .banner-table, .banner-table .hash-ranking *{
    border: 0px;
    text-align: center;
  }
}

.banner-list ul {
  list-style: none;
  padding-left: 0px;
}

.banner-list ul li {
  padding-top: 15px;
}

.banner-list .left{
  padding-right: 0px;
}

.banner-list .left figcaption div{
  font-size: 20px;
}

.banner-list .left figcaption div:after{
  display: none;
}

.banner-list .left figure:hover img{
  -webkit-transform: scale3d(1.05, 1.05, 1);
          transform: scale3d(1.05, 1.05, 1);
}

.banner-list .left figure *, .banner-list .left figure *::before, .banner-list .left figure *::after{
  -moz-box-sizing: border-box;
       box-sizing: border-box;

  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}

.banner-list .right{
  padding-left: 10px;
  vertical-align: top;
}

.banner-list .right .content-title{
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 800;
  line-height: 1.2em;
  font-size: 15px;
}
/* body - banner-container - End */
/* =========================================================== */

/* =========================================================== */
/* body - preview-modal - Start */
#preview_modal .modal-dialog{
  width: 850px;
  max-width: 850px;
}

#preview_modal .modal-dialog .modal-body{
  padding: 60px 30px 60px 30px;
}
/* body - preview-modal - End */
/* =========================================================== */





/* =========================================================== */
/* body - write-table - Start */
#table_add_content *, #table_add_search_condition * {
  border: 1px solid #000000;
}

#table_add_content span {
  border: 0 !important;
}
/* body - preview-modal - End */
/* =========================================================== */





/* =========================================================== */
/* body - file-input - Start */
.file-input{
  width: 40vw !important;
  max-width: 40vw !important;
}
/* body - preview-modal - End */
/* =========================================================== */




/* =========================================================== */
/* body - write-image - Start */
.write-image-vertical{
  width: 45% !important;
  max-width: 45% !important;
  padding: 15px;
  text-align: center;
}

.write-image-horizontal{
  width: 100% !important;
  max-width: 100% !important;
  padding: 15px;
  text-align: center;
}
/* body - preview-modal - End */
/* =========================================================== */






/* =========================================================== */
/* footer - Start */
.footer-background {
  background-color: black;
  color: #ededed;
  text-align:center;
  margin: 25px 25px 0px 25px;
}

.footer-heading .title {
  margin-bottom: 12.5px;
}

.footer-heading .description {
  padding-bottom: 20px;
  font-size: 17px;
  color: #a0a0a0;
}

.footer-body {
  max-width:500px;
  margin:auto;
  padding-bottom:50px;
}

.footer-footer {
  max-width: 1200px;
  margin: auto;
  color: #a0a0a0
}

.footer-footer .copyright {
  font-size: 17px;
  padding-top: 25px;
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .footer-heading .description {
    font-size: 14.5px;
  }

  .footer-footer .copyright {
    font-size: 14.5px;
  }
}

.back-to-top {
  position: fixed;
  bottom: 3.5rem;
  right: 3rem;
  font-size: 1.5rem;
  display: inline-block;
  transition: all .2s ease;
}

.back-to-top:hover {
  text-decoration: none;
}

.back-to-top:focus {
  text-decoration: none;
}

.back-to-top:after {
  content: '\f106';
  font-family: 'FontAwesome';
  font-size: 2rem;
  line-height: 1;
  display: block;
  color: white;
  background: rgba(44, 47, 48, 0.5);
  padding: 1rem;
  transition: all .2s ease;
}

/* footer - End */
/* =========================================================== */

/* Customized Classes - End */
/************************************************************************************/





/************************************************************************************/
/* error.html - external doc - Start */
.error-doc .error-header {
  height: 30vh;
  margin: 0px;

  background-color: black;
  color: #ffffff;

  display: flex;
  align-items: center;
}

.error-doc .error-header h1 {
  width: 100vw;
  text-align: center;
}

.error-doc .error-body {
  height: 35vh;
  margin: auto;
  padding: 100px 30px;
}

.error-doc .error-body h2 {
  margin-bottom: 10px;
}

.error-doc .site-footer-container {
  height: 25vh;
}

.error-doc .site-footer-container .footer-footer {
  text-align: center;
  color: #666666 !important;
}
/* error.html - external doc - End */
/************************************************************************************/
